/* Author: Linda Moenstre - Digitaldesigner.no 2023 */
/* contact and subscription */

.form__img {
  margin-top: var(--space-3);
  padding-left: var(--space-2);
}

form {
  padding: var(--space-2) 0;
}

fieldset {
  border: none;
}

.contact-box {
  width: 100%;
  margin-bottom: var(--space-2);
  border: none;
  border-radius: var(--border-radius);
}

.contact-box__input,
textarea {
  height: var(--space-3);
  border-color: 1px solid var(--clr-neutral-200);
  border-radius: var(--border-radius);
  width: 100%;
  padding: var(--space-1);
}

textarea {
  min-height: 12rem;
}

input:focus,
textarea:focus {
  background-color: var(--clr-neutral-200);
}

span.hide {
  display: none;
}

.form-error {
  background-color: var(--clr-error);
  color: var(--clr-light);
  display: none;
}

.message-success {
  background-color: var(--clr-success);
  text-align: center;
  margin: var(--space-2);
  padding: var(--space-2);
  border-radius: 50%;
}

/* ----------- subscription ------------- */

.subscription__wrapper {
  background-color: var(--clr-neutral-200);
  padding: var(--space-2);
  text-align: center;
  margin-bottom: var(--space-2);
}

.subscription__title {
  font-family: "Baskerville Libre", Georgia, serif;
  font-size: var(--fs-700);
}

@media (max-width: 768px) {
}
