/* Author: Linda Moenstre - Digitaldesigner.no 2023 */
/* header, footer */

header {
  /* position: relative; */
  margin: auto;
}

nav {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: var(--border-radius);
}

.nav__wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.nav__logo {
  margin-right: 0.75rem;
}

nav ul {
  background-color: var(--clr-dark);
  border-radius: var(--border-radius);
}

/* nav li {
  display: inline;
} */

nav a {
  font-size: var(--fs-300);
  text-decoration: none;
  color: var(--clr-light);
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list a {
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.nav__item {
  padding: 0.5rem 1rem;
}

/* -------------- Footer --------------- */

footer {
  background-color: var(--clr-light);
}

.footer__wrapper {
  padding-bottom: var(--space-5);
  display: grid;
  place-items: center;
}

.copyright {
  font-size: var(--fs-300);
}

.social {
  max-height: 250px;
  max-width: 250px;
}

.designer {
  color: var(--clr-primary-400);
  font-family: var(--ff-handwriting);
}

/* ---------- Media Queries -------------*/

@media (max-width: 768px) {
  .mobile-logo {
    display: block;
    padding: 1rem 0;
  }
  .desktop-logo {
    display: none;
  }
}

@media (min-width: 769px) {
  html {
    background-color: var(--clr-secondary-200);
  }

  .mobile-logo {
    display: none;
  }
  .desktop-logo {
    display: block;
    max-width: 950px;
    padding: 2rem 1rem;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
