/*  @author Linda Moenstre 2023 - <linda@digitaldesigner.no> */

/* header, footer */

header {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.desktop {
  max-width: 950px;
  margin: 2rem 1rem;
}

.logo {
  margin-bottom: var(--space-2);
}

.navflex {
  display: flex;
}

.nav-style {
  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  letter-spacing: var(--letter-spacing);
}

.nav-toggle {
  display: none;
}

.primary-navigation {
  justify-content: space-evenly;
  align-items: center;
}

.primary-navigation a > [aria-hidden="true"] {
  color: var(--clr-primary-200);
  font-size: var(--fs-500);
  margin-inline-end: 0.5rem;
}

.back-to-top {
  position: fixed;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  bottom: 1rem;
  left: 45%;
  z-index: 800;
}

footer {
  background-color: var(--clr-light);
  margin-top: var(--space-2);
}

.footer__wrapper {
  padding-bottom: var(--space-5);
  display: grid;
  place-items: center;
}

.footer__items {
  padding: 0 3rem;
}

.footer__item {
  padding: 0.75rem 0.35rem;
}

.copyright {
  color: var(--clr-dark);
  font-size: var(--fs-300);
}

.social {
  max-height: 250px;
  max-width: 250px;
}

.designer {
  color: var(--clr-primary-600);
  font-family: var(--ff-handwriting);
}

.footer__items {
  padding: 0;
}

.footer_item img {
  padding: 5rem 3rem;
}

/* ---------- Media Queries -------------*/

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .hide {
    display: none;
  }

  .primary-navigation {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    padding: min(20vh, 4rem) 4rem;
    inset: 0;
    background-color: var(--clr-primary-600);
    z-index: 900;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .nav-style {
    color: var(--clr-light);
  }

  .nav-style:hover,
  .nav-style:focus,
  .nav-style:active,
  .nav-style:visited {
    color: var(--clr-light);
    background-color: var(--clr-primary-400);
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  .nav-toggle {
    position: fixed;
    background-image: url(/img/add.png);
    background-repeat: no-repeat;
    border: 0;
    width: 44px;
    height: 44px;
    aspect-ratio: 1;
    bottom: 1rem;
    right: 3rem;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    z-index: 910;
  }

  .nav-toggle[aria-expanded="true"] {
    background-image: url(/img/close.png);
  }

  .logo-icon {
    position: fixed;
    background-image: url(/img/logo-icon3.png);
    background-repeat: no-repeat;
    border: 0;
    width: 44px;
    height: 44px;
    bottom: 1rem;
    left: 3rem;
    z-index: 900;
  }

  .bottom {
    position: fixed;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 1)
    );
    bottom: 0;
    width: 100%;
    height: 80px;

    z-index: 50;
  }
}

@media (min-width: 769px) {
  .mobile {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-style {
    font-weight: 500;
    color: var(--clr-dark);
  }

  .nav-style:hover,
  .nav-style:focus {
    color: var(--clr-primary-800);
  }

  .primary-navigation a > span[aria-hidden] {
    display: none;
  }

  .back-to-top {
    bottom: 2.5rem;
    left: 85%;
  }

  .navflex {
    gap: var(--gap);
  }

  .logo {
    margin-bottom: var(--space-1);
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  footer {
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 1024) {
  footer {
    padding: 0 2rem;
  }
}
