/* @author Linda Moenstre 2023 - <linda@digitaldesigner.no> */

@media only screen and (max-width: 600px) {


}

@media only screen and (min-width: 1024px) {
  html {
    background-color: rgb(251, 250, 245);
  }

  .mobile {
    visibility: hidden;
  }

  .desktop {
    visibility: visible;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    background-image: url(/assets/img/sweetheart-lg-screen-bg.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
