/* Author: Linda Moenstre - Digitaldesigner.no 2023 */

@import url("main.css");
@import url("carousel.css");
@import url("blog.css");
@import url("forms.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Libre+Baskerville:wght@400;700&family=Satisfy&display=swap");

:root {
  --clr-light: #ffffff;
  --clr-dark: #333333;

  --clr-neutral-200: #f3f3f3;
  --clr-neutral-300: #e3e1e0;
  --clr-neutral-400: #c9c9c9;
  --clr-neutral-700: #565656;
  --clr-primary-100: #fceef2;
  --clr-primary-200: #fceef2;
  --clr-primary-400: #bb616c;
  --clr-primary-600: #993e49;
  --clr-primary-800: #73353c;
  --clr-secondary-200: #e8f1f3;

  --clr-success: #cfd8b6;
  --clr-error: #73353c;

  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  --ff-body: "Lato", sans-serif;
  --ff-heading: "Libre Baskerville", Geogia, serif;
  --ff-handwriting: "Satisfy", cursive;
  --fs-300: 14px; /* thin */
  --fs-400: 18px; /* regular/text */
  --fs-500: 20px; /* h4 */
  --fs-600: 24px; /* H3 */
  --fs-700: 28px;
  --fs-800: 36px; /* H2 */
  --fs-900: 56px; /* H1 */

  --letter-spacing: 4px;

  --border-radius: 2px;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light;
  scroll-behavior: smooth;
  /* background-color: var(--clr-light); */
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

body {
  font-family: var(--ff-body);
  font-size: 1.125rem;
  line-height: 1.4;
  min-height: 100vh;
  min-height: 100dvh;
}

main {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  max-width: 1440px;
  margin: auto;
}

img,
svg,
aside,
.read-more-button,
li {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
}

h1,
h2,
h3,
h4,
li,
p {
  text-wrap: balance;
  display: block;
}

h1 {
  font-family: var(--ff-handwriting);
  font-size: var(--fs-800);
}

h2 {
  font-family: var(--ff-handwriting);
  font-size: var(--fs-600);
}

h3 {
  font-family: var(--ff-body);
  font-size: var(--fs-600);
  font-weight: 600;
}

h4 {
  font-size: var(--fs-500);
}

p {
  padding: 1rem 0;
}

a:link {
  cursor: pointer;
  font-size: var(--fs-600);
  font-weight: 600;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--clr-primary-400);
}

a:visited {
  /* color: var(--clr-neutral-700); */
}

.active {
  border-bottom: 2px dotted var(--clr-primary-800);
}

.read-more-button {
  background-color: var(--clr-primary-400);
  color: var(--clr-light);
  font-size: var(--fs-600);
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: var(--clr-primary-600);
}

::selection {
  background-color: var(--clr-primary-200);
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus {
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  overflow: visible;
  background-color: var(--clr-primary-200);
  color: var(--clr-dark);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  z-index: 1000;
}

aside {
  width: 100%;
}

.header__title {
  font-size: var(--fs-800);
  text-align: center;
  padding-top: var(--space-2);
}

.cursive {
  font-family: var(--ff-handwriting);
}

.content__wrapper {
  margin: var(--space-1) 0;
}

.grid__wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(375px, 100%), 1fr));
  gap: var(--space-1);
  justify-items: center;
  margin: 0 auto;
}

.grid__wrapper-columns {
  padding: 0 1.5rem;
}

.flex__wrapper {
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.flex__wrapper-item {
  height: 350px;
  width: fit-content;
  display: flex;
}

.padding {
  margin: var(--space-1) 0;
}

.no__padding {
  padding: 0;
}

.img__style {
  max-width: 275px;
  border-radius: 50%;
}

.background__style {
  background-color: var(--clr-primary-100);
}

/* ----------flex ---------*/

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

/* .grid {
  display: grid;
}


.place-items {
  place-items: center;
} */

.center {
  margin-left: auto;
  margin-right: auto;
}

.loader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.5rem solid var(--clr-primary-200);
  border-top: 0.5rem solid var(--clr-primary-400);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide-loader {
  display: none;
}

/* ---------- Media Queries -------------*/

@media only screen and (min-width: 769px) {
  .content__wrapper {
    margin: var(--space-4);
  }

  .center {
    padding: var(--space-2) 0;
  }
}

@media only screen and (min-width: 1024px) {
  .flex__wrapper-item {
    height: 376px;
  }

  .order {
    order: 2;
  }

  .header__title {
    text-align: left;
    padding: var(--space-2);
  }
}

@media only screen and (min-width: 1300px) {
  .header__title {
    padding: 4rem 0 0 12rem;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    background-image: url(/img/sewsweet-backgr.gif);
  }
}
