/*  @author Linda Moenstre 2023 - <linda@digitaldesigner.no> */

@import url("main.css");
@import url("carousel.css");
@import url("blog.css");
@import url("forms.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Satisfy&display=swap");

:root {
  --clr-light: #ffffff;
  --clr-dark: #333333;

  --clr-neutral-200: #f3f3f3;
  --clr-neutral-300: #e3e1e0;
  --clr-neutral-400: #c9c9c9;
  --clr-neutral-700: #565656;
  --clr-primary-100: #fceef2;
  --clr-primary-200: #fceef2;
  --clr-primary-400: #bb616c;
  --clr-primary-600: #993e49;
  --clr-primary-800: #73353c;
  --clr-secondary-200: #e8f1f3;

  --clr-success: #cfd8b6;
  --clr-error: #993e49;

  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  --ff-body: "Poppins", sans-serif;
  --ff-heading: "Poppins", sans-serif;
  --ff-handwriting: "Satisfy", cursive;
  --fs-300: 14px;
  --fs-500: 20px;
  --fs-600: 24px;
  --fs-700: 28px;
  --fs-800: 36px;

  --letter-spacing: 4px;

  --border-radius: 2px;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 5rem;

  --gap: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

body {
  font-family: var(--ff-body);
  font-size: 1.125rem;
  line-height: 1.4;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
}

main {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  max-width: 1440px;
  margin: auto;
}

img,
svg,
aside,
li,
h1,
h2,
h3,
li,
p {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
}

h1,
h2,
h3,
li,
p {
  text-wrap: balance;
}

h1 {
  font-family: var(--ff-handwriting);
  font-size: var(--fs-800);
}

h2 {
  font-family: var(--ff-heading);

  font-size: var(--fs-600);
}

h3 {
  font-family: var(--ff-body);
  color: var(--clr-primary-600);
  font-size: var(--fs-500);
  font-weight: 500;
}

p {
  padding: var(--space-1) 0;
}

.align__center {
  text-align: center;
}

a {
  color: var(--clr-dark);
  font-size: var(--fs-500);
}

a:link {
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--clr-primary-400);
}

a:visited {
  color: var(--clr-dark);
}

.active {
  color: var(--clr-dark);
  border-bottom: 3px dashed var(--clr-light);
}

::selection {
  background-color: var(--clr-primary-200);
}

/* Buttoninspiation from Ian Lunn @ https://github.com/IanLunn/Hover#css */
.button {
  background-color: var(--clr-dark);
  border: none;
  color: var(--clr-light);
  padding: 0.5rem var(--space-1);
  border-radius: var(--border-radius);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-primary-600);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.button:hover,
.button:focus,
.button:visited,
.button:active {
  color: var(--clr-light);
}
.button:hover:before,
.button:focus:before,
.button:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.read-more-button {
  background-color: var(--clr-neutral-200);
  color: inherit;
  border: 1px solid var(--clr-primary-600);
  padding: 0.5rem var(--space-1);
  border-radius: var(--border-radius);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  margin-left: var(--space-1);
}
.read-more-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: var(--clr-primary-600);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.read-more-button:hover,
.read-more-button:focus,
.read-more-button:active,
.read-more-button:visited {
  color: var(--clr-light);
}

.read-more-button:hover:before,
.read-more-button:focus:before,
.read-more-button:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* --- Blog-button by me --- */

.blog-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--space-2);
}

.blog-button {
  border: 2px dashed var(--clr-primary-400);
  border-radius: var(--border-radius);
  padding: 0.5rem 3rem;
}

.blog-button:hover,
.blog-button:focus,
.blog-button:active,
.blog-button:visited {
  background-image: url(/img/scissor-icon.svg);
  background-repeat: no-repeat;
  background-position: 10% 55%;
  color: var(--clr-dark);
  align-items: center;
  color: var(--clr-primary-800);
  border: 2px dashed var(--clr-primary-600);
  box-shadow: var(--box-shadow);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

aside {
  width: 100%;
}

.welcome__title {
  font-size: var(--fs-800);
  padding-top: var(--space-2);
}

.cursive {
  font-family: var(--ff-handwriting);
}

.content__wrapper {
  margin: var(--space-1) 0;
}

.grid__wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(375px, 100%), 1fr));
  gap: var(--space-1);
  justify-items: center;
  margin: 0 auto;
}

.grid__wrapper-columns {
  padding: 0 0.625rem;
}

/* ---- about.html scroller -----*/

.flex__wrapper {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  margin-bottom: var(--space-3);
}

.flex__wrapper-item {
  height: 350px;
  width: fit-content;
  display: flex;
}

.padding {
  margin: var(--space-1) 0;
}

.no__padding {
  padding: 0;
}

.img__style {
  max-width: 275px;
  border-radius: 50%;
}

.background__style {
  background-color: var(--clr-primary-100);
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.team__title {
  font-family: var(--ff-handwriting);
  font-size: var(--fs-700);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  border: 0.5rem solid var(--clr-primary-200);
  border-top: 0.5rem solid var(--clr-primary-600);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ---------- Media Queries -------------*/

@media only screen and (min-width: 769px) {
  a:visited {
    color: var(--clr-dark);
  }

  .active {
    color: var(--clr-dark);
    border-bottom: 3px dashed var(--clr-primary-400);
  }

  .content__wrapper {
    margin: var(--space-4);
  }

  .center {
    padding: var(--space-2) 0;
  }

  .img__style {
    max-width: 375px;
  }

  .left,
  .right {
    order: 0;
    min-width: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .flex__wrapper-item {
    height: 376px;
  }

  .order {
    order: 2;
  }

  .blog-card-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-2);
  }
}
